{% load static %}
<footer class="footer">
    <div class="top">
      <div class="first">
        <div class="title">
          <img src="{% static 'image/icons8-box.svg' %}" alt="باکس" class="box">
          <p class="job">یافتن شغل</p>
        </div>
        <p class="text">ما همراه شما هستیم، از قدم اول تا موفقیت شغلی‌تان.</p>
      </div>
      <div class="second">
        <p class="paragragh">لینک‌های سریع</p>
        <p>خانه</p>
        <p>تست شخصیت</p>
        <p>اطلاعات شغلی</p>
        <p>سؤالات متداول</p>
        <p>تماس با ما</p>
      </div>
      <div class="three">
        <p class="one">عضویت در خبرنامه</p>
        <p class="two">جدیدترین نکات شغلی را در ایمیل‌تان دریافت کنید.</p>
        <div class="form-container">
          <input type="text" class="input" placeholder="ایمیل خود را وارد کنید">
          <button class="button">اشتراک</button>
        </div>
      </div>
    </div>
  </footer>